extends ./layout.pug

block content
  nav
    a(href=basePath + '/shows') view shows

  - any = false
  each files, state in input
    - any = true
    div.row: h2 #{state}:
    table
      tr
        th Name
        th Progress
        th Last Modified
        th Error
        th Action
      each file in files
        tr
          td
            span(title=file.saveFileName)= file.formatted
          td= file.progress
          td= file.modified
          td= file.error
          td
            a(
              href='#' class='ajax' data-ajax-method='delete' data-ajax-target=basePath + '/episode/' + encodeURIComponent(file.formatted)
            )= '[RM]'

  if !any
    div.row: h2.center no pending transfers
