doctype html
html
  head
    title fetcher2

    link(href=basePath + '/bundle.css', rel='stylesheet', type='text/css')

    script(src=basePath + '/vendor.js')
    script(src=basePath + '/bundle.js')

  body
    ul.breadcrumb
      each segment in breadcrumbs
        li: a(href=segment.uri)= decodeURIComponent(segment.title)

    div#content
      block content

      hr
      div.row
        h2
          | raw json
          |
          a(href='#' class='toggle' data-toggle-target='div.json')= '[toggle]'
      div.json.hidden
        pre= JSON.stringify(input, null, 2)
