extends ./layout.pug

block content
  table
    tr
      th Name
      th Fetch Type
      th State (progress)
      th Last Modified
      th Creation Time
      th Action
    each file in input
      tr
        td
          span(title=file.saveFileName)= file.formatted
        td= file.fetchType
        td= file.progress
        td= file.created
        td= file.modified
        td
          a(
            href='#' class='ajax' data-ajax-method='delete' data-ajax-target=basePath + '/episode/' + encodeURIComponent(file.formatted)
          )= '[RM]'
